@media only screen and (max-width:600px){
    .img_template{
        border-radius: 10%;
        width: 30%;
        height: 30%;
    }
}

.div_conteudo {
    top: 30%;
    width: 100%;
    height: 70%;
    position: fixed;
    text-align: center;   
}

.btn {
    display: inline-block;
    background-color: #ccc;
    color: #444;
    padding: 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0px;
    width: 200px; 
    
}

.btn-padrao {
    color: #fff;
    background-color: #015637;
}

.btn-shadow {
    box-shadow: 1px 1px 1px #999;
}
 
.btn-rc {
    border-radius: 4px;
}

