<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <link href="style\style_template.css" rel="stylesheet" />
        
        <title>Projeto</title>
    </head>
    <body>
       
        
        <div class="div_form">
        <table class="table th td" >
                <thead>
                  <tr>
                    <th>Cód</th>
                    <th>First Name</th>
                    <th>Data de inico</th>
                    <th>Data de Fim</th>
                    <th>Atividade padrão</th>
                  </tr>
                </thead>
            <tbody>
                     <tr>
                         <td>1</td>
                         <td>Criar Projeto no sistema</td>
                         <td>06/02/2017</td>
                         <td>06/02/2017</td>
                         <td>
                            <label class="switch">
                              <input type="checkbox" checked>
                              <div class="slider round"></div>
                            </label>
                         </td>
                    </tr>
                    <tr>
                        <td>1.1</td>
                        <td>Inserir nome no projeto</td>
                        <td>06/02/2017</td>
                        <td>06/02/2017</td>
                        <td>
                            <label class="switch">
                              <input type="checkbox" checked>
                              <div class="slider round"></div>
                            </label>
                        </td>
                  </tr>
                  <tr>
                       <td>2</td>
                       <td>Incluir tarefas</td>
                       <td>06/02/2017</td>
                       <td>06/02/2017</td>
                       <td>
                            <label class="switch">
                              <input type="checkbox" checked>
                              <div class="slider round"></div>
                            </label>
                       </td>
                   </tr>
                   <tr>
                       <td>3</td>
                       <td>Incluir tarefas  </td>
                       <td>06/02/2017</td>
                       <td>06/02/2017</td>
                       <td>
                            <label class="switch">
                              <input type="checkbox" checked>
                              <div class="slider round"></div>
                            </label>
                       </td>
                   </tr>
            </tbody>
    </table>
                <br />
                <br />
                <br />
              <a class="btn btn-padrao btn-shadow btn-rc" href="nomeprojeto.html" target="_blank">Proximo</a>
        </div>
        
        
        
    </body>
</html>
