<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <link href="style\style_template.css" rel="stylesheet" />
        
        <title>Projeto</title>
    </head>
    <body>
       
        
        <div class="div_form">
            <label class="control-label">Nome da Subatividade Padrão:</label><br />
            <input class="form-control" id="nomeatividade" placeholder="Nome da Subatividade Padrão" type="text"><br />
            <br />
            
            <label class="control-label">Descrição da Subatividade Padrão:</label><br />
            <input class="form-control" id="pmbok" placeholder="Descrição da Subatividade Padrão" type="text"><br />
            <br />
            
            <label class="control-label">Subatividade Padrão Obrigatória:</label><br />
            <select  class="form-control">
              <option>Selecione</option>    
              <option>Sim</option>
              <option>Não</option>
            </select>
            <br />
            <br />
                        
            <a class="btn btn-padrao btn-shadow btn-rc" href="atividades.html" target="_blank">Salvar</a>
        </div>
        
        
    </body>
</html>