<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <link href="style\style_template.css" rel="stylesheet" />
        
        <title>Projeto</title>
    </head>
    <body>
       
        
        <div class="div_form">
            <label class="control-label">Nome do Projeto:</label><br />
            <input class="form-control" id="exampleInputEmail1" placeholder="Nome do Projeto" type="text"><br />
            <br />
            <a class="btn btn-padrao btn-shadow btn-rc" href="atividades.html" target="_blank">Proximo</a>
        </div>
        
        
    </body>
</html>
